body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/**Header **/
#header-nav{
	background-color:#f6b319;
	border-radius: 0;
	border:0;
}
.navbar-brand{
	padding-top:25px;
}
.navbar-brand h1{/*restaurant name*/
	font-family: 'lora',serif;
	color: #557c3e;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
	margin-top: 0;
	margin-bottom: 0;
  line-height: .75;
  position: absolute;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -42px;
}
/* HOME PAGE */
#Sushi-tile, #Beef-tile, #Chicken-tile {
  height: 700px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: auto;
}

#Sushi-tile span, #Beef-tile span, #Chicken-tile span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: green;
}
#Sushi-tile p, #Beef-tile p, #Chicken-tile p {
  margin:40px 10px 10px;
  text-align: left;
  font-size:1em;
}

/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

  /* Home Page */
  #Sushi-tile, #Beef-tile, #Chicken-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #Sushi-tile, #Beef-tile, #Chicken-tile {
    width: 280px;
    margin: 0 auto 15px;
  }
}